.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95vw;

  margin: 5px;
}

.column {
  width: 20vw;
  height: 65vh;
  border: 2px solid green;
}
